In [1]:
import pickle
import pandas as pd

In [12]:
with open("demand_forecast_model.pkl", "rb") as f:
    model = pickle.load(f)

In [7]:
test_data = pd.read_csv("data/test.csv")

In [8]:
test_data

,record_ID,week,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku
0,212645,16/07/13,8091,216418,108.3000,108.3000,0,0
1,212646,16/07/13,8091,216419,109.0125,109.0125,0,0
2,212647,16/07/13,8091,216425,133.9500,133.9500,0,0
3,212648,16/07/13,8091,216233,133.9500,133.9500,0,0
4,212649,16/07/13,8091,217390,176.7000,176.7000,0,0
...,...,...,...,...,...,...,...,...
13855,232281,01/10/13,9984,223245,241.5375,241.5375,0,0
13856,232282,01/10/13,9984,223153,240.8250,240.8250,0,0
13857,232285,01/10/13,9984,245338,382.6125,401.8500,1,1
13858,232286,01/10/13,9984,547934,191.6625,191.6625,0,0
13859,232287,01/10/13,9984,679023,234.4125,234.4125,0,0

In [ ]:
test_data[['day', 'month', 'year']] = test_data['week'].str.split("/", expand=True)

test_data = test_data.drop('week', axis=1)

test_data = test_data.drop('record_ID', axis = 1)
    
test_data = test_data.join(pd.get_dummies(test_data.store_id, prefix='store')).drop('store_id', axis=1)
test_data = test_data.join(pd.get_dummies(test_data.sku_id, prefix='item')).drop('sku_id', axis=1)

In [10]:
test_data

,total_price,base_price,is_featured_sku,is_display_sku,day,month,year,store_8023,store_8058,store_8063,...,item_320485,item_327492,item_378934,item_398721,item_545621,item_546789,item_547934,item_600934,item_673209,item_679023
0,108.3000,108.3000,0,0,16,07,13,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,109.0125,109.0125,0,0,16,07,13,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,133.9500,133.9500,0,0,16,07,13,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,133.9500,133.9500,0,0,16,07,13,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,176.7000,176.7000,0,0,16,07,13,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13855,241.5375,241.5375,0,0,01,10,13,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13856,240.8250,240.8250,0,0,01,10,13,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13857,382.6125,401.8500,1,1,01,10,13,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13858,191.6625,191.6625,0,0,01,10,13,False,False,False,...,False,False,False,False,False,False,True,False,False,False
13859,234.4125,234.4125,0,0,01,10,13,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [13]:
y_pred = model.predict(test_data)

In [14]:
output = test_data.copy()
output["Predicted Demand"] = y_pred

output.to_csv("demand_forecast.csv", index=False)

print("Predictions saved.")

Predictions saved.

In [15]:
pd.read_csv("demand_forecast.csv")

,total_price,base_price,is_featured_sku,is_display_sku,day,month,year,store_8023,store_8058,store_8063,...,item_327492,item_378934,item_398721,item_545621,item_546789,item_547934,item_600934,item_673209,item_679023,Predicted Demand
0,108.3000,108.3000,0,0,16,7,13,False,False,False,...,False,False,False,False,False,False,False,False,False,22.928476
1,109.0125,109.0125,0,0,16,7,13,False,False,False,...,False,False,False,False,False,False,False,False,False,26.837333
2,133.9500,133.9500,0,0,16,7,13,False,False,False,...,False,False,False,False,False,False,False,False,False,31.249036
3,133.9500,133.9500,0,0,16,7,13,False,False,False,...,False,False,False,False,False,False,False,False,False,33.307083
4,176.7000,176.7000,0,0,16,7,13,False,False,False,...,False,False,False,False,False,False,False,False,False,20.305452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13855,241.5375,241.5375,0,0,1,10,13,False,False,False,...,False,False,False,False,False,False,False,False,False,28.783417
13856,240.8250,240.8250,0,0,1,10,13,False,False,False,...,False,False,False,False,False,False,False,False,False,17.776667
13857,382.6125,401.8500,1,1,1,10,13,False,False,False,...,False,False,False,False,False,False,False,False,False,32.140333
13858,191.6625,191.6625,0,0,1,10,13,False,False,False,...,False,False,False,False,False,True,False,False,False,14.153500
13859,234.4125,234.4125,0,0,1,10,13,False,False,False,...,False,False,False,False,False,False,False,False,True,9.991375